@model Dish

<h1>@Model.Name</h1>
<h2>@Model.Chef</h2>
<p>@Model.Description</p>
<p>Calories: @Model.Calories</p>
<p>Tastiness: @Model.Tastiness</p>
<a href="/delete/@Model.DishId" class="btn btn-danger">Delete</a>
<a href="/edit/@Model.DishId" class="btn btn-warning">Edit</a>
